* {
  box-sizing: border-box;
}
#canvas {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: solid 1px;
}
.row {
  display: flex;
  flex-direction: row;
}
.grid {
  user-select: none;
}
.grid.show-border {
  border: solid 1px;
}
.hover {
  background-color: red;
}
button.active {
  background-color: yellow;
}
.grid.no-border {
  border: none;
}
